.main-checkout-container{
    background-image: url('../../background-image/checkout-back.jpg');
    background-size: cover;
    display: flow-root;
    height: 100vh;
}
.checkout-container{
    min-height: 500px;
    display: flex;
    width: 80%;
    margin: 100px auto;
    justify-content: center;
    padding: 20px;
    align-items: center;

}
.checkout-infomation-style{
    width: 45%;
    padding: 10px;
    color: white;
}
.checkout-image-style{
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.342);
}
.make-appoinment-style{
    width: 55%;
    padding: 10px;
}
.appoinment-form-container{
    width: 60%;
    margin: 30px auto;
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.342);
    background-color: whitesmoke;
}

.reserve-button{
    width: 60%;
    margin: 0 auto;
    border: none;
    background-color: #035397;
    color: white;
    padding: 8px 0;

}

@media screen and (max-width:900px){
    .main-checkout-container{
        height: 160vh;
    }
    .checkout-container{
        flex-direction: column;
    }
    .checkout-infomation-style{
        width: 100%;
    }
    .appoinment-form-container{
        width:100%;
    
    }
    .make-appoinment-style{
        width: 100%;
        padding: 0px;
    }
}